@media only screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
    }

    .navbar li a {
        align-self: flex-end;
        display: initial;
        cursor: pointer;
        display: block;
    }
}